
//   Web Colors
$mainColor: #000;
$secondryColor: #95e1d3;
$whiteColor :#fff;
$grey-text: #807979;
$greyColor: rgb(240, 232, 232);
$BgColor:#f3f3f3;
$gradientBG : linear-gradient(to right, #b62dff, #a835ff, #9a3cfe, #8b41fd, #7b45fb);
$footerBackground:#E2E2E2;
$headingLine : #f38181 ;

// MAIN FONT
$mainFont: "mainFont" ;
$fontSize : 18px;

// PADDING
$mainPadd: 1% 0;
$sectionPadd: 6% 0;

// MARGIN
$auto: 0 auto;
$marginBot : 2%;
//mediaQuery Var
$maxMobile:"(max-width: 767px)";
$minSmall:"(min-width: 768px)";
$maxSmall:"(max-width: 991px)";
$minMedium:"(min-width: 992px)";
$minLarge:"(min-width: 1200px)";

$float-left: left;
$float-right: right;


